---
title: 横浜を拠点として活動するエンジニアリングチーム
image: images/top.jpg
bottom_image: images/contact.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
        <div class="inner-hero text-container">
                <div class="hero-text-container">
                        <h1 class="editable">STUDIO PLUS TWO</h1>
                        <p class="subtext editable">STUDIO PLUS TWO (スタジオ・プラスツー)は、横浜を拠点として活動するエンジニアリングチームです。</p>
                        <div class="cta button alt"><a href="https://studioplustwo.hatenablog.jp/" target="_blank" rel="noopener noreferrer">スタジオ技術ブログ</a></div>
                </div>
        </div>
        <div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
        <section class="info" id="learn-more">
                <div class="container flex">
                        <div class="text">
                                <h2 class="editable">STUDIO PLUS TWOとは</h2>
                                <p class="editable">
                                        <div>
                                                STUDIO PLUS TWO (スタジオ・プラスツー) は、横浜を中心とした関東圏を拠点とし、さまざまなウェブアプリケーション・ウェブシステム・スマートフォンアプリケーションの設計開発、コンサルティングサービスを提供するエンジニアリングチームです。
                                        </div>
                                </p>
                                <p class="editable">
                                        <div>「スタジオ・プラスツー」という名前は、プラスワンよりもうひとつ上、更に一味違う『プラスツー』のソリューションを提供したいという思いをもとに付けられました。</div>
                                </p>
                                <p>
                                        <div>これまでに幾多のアプリケーションおよびシステム開発を経験してきたスタジオメンバーが、あなたに最適のソリューションを提供します。</div>
                                </p>
                        </div>
                        <div class="image">
                                <img class="editable" src="images/aboutus.jpg" alt="Screenshot" />
                        </div>
                </div>
        </section>

        <section class="info">
                <div class="container flex">
                        <div class="text">
                                <h2 class="editable">全文検索専門ソリューション</h2>
                                <p class="editable">
                                        <div>Elasticsearch をはじめとする全文検索エンジンが広く使用されている昨今、当スタジオでは全文検索に主軸を置いたソリューションを提供しています。</div>
                                </p>
                                <p class="editable">
                                        <div>全文検索の機能を最大限に活かすためには、機能を構築するのみならず、モニタリング・改善の作業を継続的に続けていくことが重要となります。</div>
                                </p>
                                <p class="editable">
                                        <div>「システム要件からの全文検索エンジン選定」「全文検索のインデックス設計」「検索APIやデータ同期機能の実装」「検索クエリのモニタリング、継続的改善の実施」など、全文検索機能の構築・運用に必要となるさまざまな作業をくまなくサポートします。</div>
                                </p>
                                <p class="editable">
                                        <div>Elasticsearchの構築・運用、クエリのチューニングなど、全文検索でお困りの際は是非ともご用命ください。</div>
                                </p>
                        </div>
                        <div class="image">
                                <img class="editable" src="images/solution.jpg" alt="全文検索専門ソリューション" />
                        </div>
                </div>
        </section>

        <section class="info">
                <div class="container flex">
                        <div class="text">
                                <h2 class="editable">代表紹介</h2>
                                <h3 class="editable">佐藤　治 (さとう　おさむ)</h3>
                                <p class="editaable">
                                        <ul>
                                                <li>東京大学理学部情報科学科卒業。<br />東京大学大学院情報理工学系研究科コンピュータ科学専攻修士課程修了</li>
                                                <li>大手メーカーにてシステムエンジニアとして勤務。<br />金融・通信系システムの開発標準・フレームワークの策定業務に携わる。</li>
                                                <li>WEB制作会社にて開発チームリーダーとして、美容室予約システム、家庭用セキュリティシステムなどフィーチャーフォン向けシステム、スマートフォンアプリや各種ウェブシステムの開発に携わる。</li>
                                                <li>2013年よりフリーランスとして独立。<br />ウェブ監視用クローラーシステムの開発、グループウェアアプリのリニューアル開発、音声配信アプリの検索機能の開発・運用など多くのシステム開発にに携わる。</li>
                                                <li>2021年、STUDIO PLUS TWOを設立。</li>
                                        </ul>
                                </p>
                        </div>
                        <div class="image">
                                <img class="editable" src="images/icon.jpg" alt="代表紹介" />
                        </div>
                </div>
        </section>

        <section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})" id="contact">
                <div class="inner-hero text-container">
                        <div class="hero-text-container">
                                <h2 class="editable">問い合わせ</h2>
                                <p class="subtext editable">全文検索専門ソリューション、アプリケーション開発、コンサルティングについての各種お問い合わせはこちらから</p>
                                <div class="cta button alt"><a href="https://docs.google.com/forms/d/1mNGK3Mp8ST9UV0g77V7qaytdyGsWyWgVYbFY5DxdZlU" target="_blank" rel="noopener noreferrer" onclick="gtag_report_conversion('https://docs.google.com/forms/d/1mNGK3Mp8ST9UV0g77V7qaytdyGsWyWgVYbFY5DxdZlU')">お問い合わせ</a></div>
                        </div>
                </div>
        </section>
</div>
