---
title: 横浜を拠点に企業の課題を解決するIT相談パートナー
image: images/top.jpg
bottom_image: images/contact.jpg
---

<section class="hero hero-home" style="background-image: url({% include relative-src.html src=page.image %});">
        <div class="inner-hero text-container">
                <div class="hero-text-container fade-in">
		  <h3 class="top-text editable oswald">
		    横浜を拠点に<br />企業の課題を解決する<br />IT相談パートナー
		  </h3>
                  <p class="subtext editable">私たちは、最新のIT技術を通じて、<br />お客様のビジネスに新たな価値と可能性を提供し、<br />より豊かな社会を実現します。</p>
                </div>
        </div>
        <div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
        <section class="info" id="learn-more">
                <div class="container flex">
                        <div class="text">
                                <h2 class="editable">スタジオプラスツーとは</h2>
                                <p class="editable">
                                        <div>
                                                株式会社スタジオプラスツーは、横浜を中心とした関東圏を拠点とし、さまざまなWebアプリケーション・Webシステムの設計開発、コンサルティングサービスを提供する会社です。
                                        </div>
                                </p>
                                <p class="editable">
                                        <div>これまでに数々のスタートアップ・中小企業向けに、システム開発サービスを提供してきました。</div>
                                </p>

				<p class="editable">
                                        <div>IT技術、システム開発でお困りの際は、是非とも弊社までお問い合わせください。</div>
                                </p>
                        </div>
                        <div class="image">
                                <img class="editable" src="images/aboutus.jpg" alt="Screenshot" />
                        </div>
                </div>
        </section>

        <section class="info">
                <div class="container flex">
                        <div class="text">
                                <h2 class="editable">レンタルCTOサービス</h2>
                                <p class="editable">
                                        <div>社内に専任のCTOやリードエンジニアがいない企業様向けに、技術面の意思決定を支援する「レンタルCTOサービス」を提供しています。</div>
                                </p>
				<p class="editable">
                                        <div>新規サービスの要件整理、開発チームの立ち上げ支援、ベンダー選定のサポート、各種技術調査やQA対応など、さまざまな用途にご活用いただけます。</div>
                                </p>
                                <p class="editable">
                                        <div>単発の相談から継続的な伴走支援まで、事業フェーズやご予算に合わせた柔軟なご提案が可能です。</div>
                                </p>
				<div class="button"><a href="https://rentalcto.studioplustwo.jp/">詳しくはこちら</a></div>
                        </div>
                        <div class="image">
                                <img class="editable" src="images/rentalcto.jpg" alt="レンタルCTOサービス" />
                        </div>
                </div>
        </section>

        <section class="info">
                <div class="container flex">
                        <div class="text">
                                <h2 class="editable">全文検索専門ソリューション</h2>
                                <p class="editable">
                                        <div>Elasticsearch をはじめとする全文検索エンジンが広く使用されている昨今、弊社では全文検索に主軸を置いたソリューションを提供しています。</div>
                                </p>
                                <p class="editable">
                                        <div>全文検索の機能を最大限に活かすためには、機能を構築するのみならず、モニタリング・改善の作業を継続的に続けていくことが重要となります。</div>
                                </p>
                                <p class="editable">
                                        <div>「システム要件からの全文検索エンジン選定」「全文検索のインデックス設計」「検索APIやデータ同期機能の実装」「検索クエリのモニタリング、継続的改善の実施」など、全文検索機能の構築・運用に必要となるさまざまな作業をくまなくサポートします。</div>
                                </p>
                                <p class="editable">
                                        <div>Elasticsearchの構築・運用、クエリのチューニングなど、全文検索でお困りの際は是非ともご用命ください。</div>
                                </p>
				<div class="button"><a href="/fulltext/">詳しくはこちら</a></div>
                        </div>
                        <div class="image">
                                <img class="editable" src="images/solution.jpg" alt="全文検索専門ソリューション" />
                        </div>
                </div>
        </section>

        <section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})" id="contact">
                <div class="inner-hero text-container">
                        <div class="hero-text-container">
                                <h2 class="editable">問い合わせ</h2>
                                <p class="subtext editable">全文検索専門ソリューション、アプリケーション開発、コンサルティングについての各種お問い合わせはこちらから</p>
                                <div class="cta button alt"><a target="_blank" rel="noopener noreferrer" onclick="gtag_report_conversion('https://docs.google.com/forms/d/1mNGK3Mp8ST9UV0g77V7qaytdyGsWyWgVYbFY5DxdZlU')">お問い合わせ</a></div>
                        </div>
                </div>
        </section>
</div>
