.hero {
  color: #ffffff;
  text-align: center;
  height: 100vh;
  min-height: 550px;
  background-color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &:before {
    content: "";
    background: linear-gradient(to bottom,rgba(0,0,0,.65) 0,rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
  }

  p {
    color: #fff;
  }

  .inner-hero {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .hero-text-container {
    width: 700px;
    text-align: left;
    z-index: 7000;
    
    h1, h2, p, .button {
      text-shadow: 1px 1px 1px rgba(0,0,0,.8);
    }
  }

  .hero-text-right {
    position: absolute;
    right: 0;
  }
}

.fade-in {
  animation: fadein 1.8s ease-out forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.image {
  text-align: center;
}

.hero-home:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .12);
}


.bottom-cta {
  text-align: center;

  h2 {
    margin-bottom: 12px;
  }
}

@media #{$desktop} {
  .flex {
    @include flexbox;
    align-items: center;
    flex-direction: row;

    .text, .image {
      -webkit-flex: 1;
      flex: 1;
      padding: 0 20px;
    }
  }

  .content section:nth-child(even) .flex {
    flex-direction: row-reverse;
  }
}
